
<h1>PEOPLE</h1>
<h3><strong>Page </strong>{{page-1}}</h3>
<div >
  <button (click)="chargedPeople()">Load records</button>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th>Gender</th>
    <th>birth_year</th>
    <th>Acciones</th>
    
  </tr>
  <tr *ngFor="let person of persons">
    <td>{{person.name}}</td>
    <td>{{person.height}}</td>
    <td>{{person.gender}}</td>
    <td>{{person.birth_year}}</td>
    <td>
      <button (click)="addBDLocal(person)">Add to local BD</button>
    </td>
  </tr>
</table>

<div *ngIf="nextVaules">
  <button (click)="nextPage()">Next Page >></button>
</div>
